<!-- Channel -->
{{!-- messages as passed into ChatContainer as this.messages. --}}
<ChatContainer @channel={{this.model}} as |messages|>
  <ChannelHeader
    @title={{this.model.name}}
    @description={{this.model.description}}
  />
  {{format-timestamp "05/31/12"}}

  <!-- Channel Message List -->
  <div class="py-4 flex-1 overflow-y-scroll channel-messages-list" role="list">
    {{#each messages as |m|}}
      <Message @message={{m}} />
    {{/each}}
  </div>

  <ChannelFooter />
</ChatContainer>
